*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{	
	background-image: url('images/OGL.jpg');
	background-repeat: no-repeat; 
	background-size ;
	background-position: ;
	font-family: sans-serif;
}

.logo{
	color: #fff;
}
.menu-bar
{
	background-color: green;
	text-align: center;
}
.menu-bar ul 	
{
display: inline-flex;
list-style: none;
color: #fff;
}
.menu-bar ul li	
{
	width: 100px;
	margin: 10px;
	padding: 10px;
}
.menu-bar ul li	a
{
	text-decoration: none;
	color: #fff;
}
.active,.menu-bar ul li:hover
{
	background: lightgreen;
	border-radius: 3px;
}
.menu-bar .fa
{
	margin-right: 8px;
}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: lightgreen;
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 150px;
	padding: 10px;
	border-bottom: 2px dotted #fff;
	background: lightgreen;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	color: lightgreen;
}
.sub-menu-2
{
	display: none;
}
.hover-me:hover .sub-menu-2
{
 position: absolute;
 display: inline-flex;
 margin: left -40px;
 margin: top 140px;
 background: rgb(0, 100, 0);
}
.footer
{
	margin: top 130px;
	padding: 100px 10%;
	background: #333;
	color: #efefef;
	display: flex;
	flex-flow: row wrap;
}
.footer div
{
 text-align: center;
}
.col-2
{
	flex-grow: 2;
}
.footer div h4
{
	font-weight: 300;
	margin-bottom: 5px;
	letter-spacing: 1px;
}
.col-1 a 
{
	display: block;
	text-decoration: none;
	color: #efefef;
	margin-bottom: 10px;
}
form input
{
	width: 300px;
	height: 40px;
	border-radius: 3px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	outline: none;
	border: none;
}
form button
{
 background: red;
 border: 2px solid #fff;
 color: #fff;
 border-radius: 30px;
 padding: 20px 40px;
 font-size: 10px;
 cursor: pointer;
}

.Global{
left: 0px;
position: absolute;
width: 1080px;
height: 480px;

}

.content {
    width: 1600px;
    height: auto;
    margin: auto;
    color: red;
    position: relative;
    
}

.content .par {
    padding-left: 28px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 70px;
    

}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
  
}

.content .cn {
    width: 160px;
    height: 40px;
    background: limegreen;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a {
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}

.cn:hover {
	color: #fff;
    background-color: lightblue;
}

.content span {
    color: lime;
    font-size: 65px
}

.form {
    width: 287px;
    height: 380px;
    background: blue;
    position: absolute;
    top: 125px;
    left: 1224px;
    transform: translate(0%, -5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: limegreen;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid limegreen;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: limegreen;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: limegreen;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: lime;
}

main{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #9b9b9b;
	line-height: 20.8;
	font-size: 90px;
	text-transform: uppercase;
	font-weight: bold;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: limegreen;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover {
    background: #fff;
    color: limegreen;
}

.btnn a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: lime;

